*{
    margin: 0;
    padding: 0;
}
nav{
    background: #19508a;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
}
a{
    display: block;
    color: #fff;
    padding: 12px 30px 12px 12px;
    border-right: 1px solid #fff;
    text-decoration: none;

}